{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row g-0 app-auth-wrapper justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
        <div class="d-flex flex-column align-content-end border py-3">
            <div class="app-auth-body mx-auto">
                <h2 class="auth-heading text-center mb-4">Add Book</h2>
                <div class="auth-form-container text-start mx-auto">
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <form class="auth-form auth-signup-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="email mb-3">
                            <label class="sr-only" for="signup-email">Book Name</label>
                            <input id="signup-name" name="bookname" type="text" class="form-control signup-name"
                                placeholder="Book Name" required="required" value="{{book.book_name}}">
                        </div>
                        <div class="email mb-3">
                            <label class="sr-only" for="signup-email">Author</label>
                            <input id="signup-name" name="author" type="text" class="form-control signup-name"
                                placeholder="Author" required="required" value="{{book.author}}">
                        </div>
                        <div class="email mb-3">
                            <label class="sr-only" for="signup-email">Price</label>
                            <input id="signup-email" name="price" type="text" class="form-control signup-email"
                                placeholder="Price" required="required" value="{{book.price}}">
                        </div>
                        <div class="email mb-3">
                            <label class="sr-only" for="signup-email">Genre</label>
                            <input id="signup-email" name="genre" type="text" class="form-control signup-email"
                                placeholder="Genre" required="required" value="{{book.genre}}">
                        </div>
                        <div class="email mb-3">
                            <label class="sr-only" for="signup-email">Image</label>
                            <input type="file" name="image" id="" class="form-control">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">Add</button>
                        </div>
                    </form>
                    <!--//auth-form-->
                </div>
                <!--//auth-form-container-->



            </div>
            <!--//auth-body-->
        </div>
        <!--//flex-column-->
    </div>


</div>

{% endblock content %}